jsonlines
openai
SPARQLWrapper
tqdm
argparse

# if need to use BM25, SentenceBERT as pruning tools.
rank_bm25
sentence_transformers 

# Huggingface
datasets
spacy # Also, run python -m spacy download en_core_web_sm

# For sparql
rdflib